<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<!-- Left side: Logo and Nav items (Home, Campaign) -->
			<a class="navbar-brand" href="#">DnD Bank</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav me-auto">
					<li class="nav-item"><a class="nav-link" href="/campaign"
						th:classappend="${activePage == 'campaign'} ? 'active'">Campaign</a>
					</li>
				</ul>
				
				<ul class="navbar-nav ms-auto">
					<li class="nav-item" th:if="${#authentication.principal != null}">
						<a class="nav-link" th:href="@{/account}" th:classappend="${activePage == 'account'} ? 'active'"
						th:text="${#authentication.principal.username}"></a>
					</li>
					<!-- Logout button -->
					<li class="nav-item" th:if="${#authentication.principal != null}">
						<form action="/logout"
							style="display: inline;">
							<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
							<button type="submit" class="btn btn-outline-light">Logout</button>
						</form>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>