<div class="modal fade" id="sendCoinsModal" tabindex="-1" role="dialog"
	aria-labelledby="sendCoinsModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="sendCoinsModalLabel">Send Coins</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<!-- Form for sending coins -->
				<form id="sendCoinsForm" th:action="@{/campaign/sendCoins}"
					method="post">

					<!-- Recipient dropdown -->
					<div class="form-group">
						<input type="hidden" th:value="${wallet.id}" name="fromWalletId">
						<input type="hidden" th:value="${campaign.id}" name="campaignId"
							id="campaignId"> <label for="receiverSelect">Send
							to:</label> <select class="form-control" id="receiverSelect"
							name="userId" onchange="updateWalletOptions()" required>
							<option th:each="user : ${campaign.users}"
								th:if="${wallet.user.username != user.username}"
								th:value="${user.username}" th:text="${user.username}"></option>
						</select> <label for="walletSelect">Wallets: </label> <select
							class="form-control" id="walletSelect" name="toWalletId" disabled>
						</select>
					</div>

					<!-- Coin types with plus/minus buttons -->
					<div class="form-group">
						<div class="row">
							<div>
								<label for="copper">Copper:</label>
								<div class="input-group mb-3">
									<button type="button" class="btn btn-outline-primary"
										onclick="updateAmount('copper', -1)">-</button>
									<input type="number" id="copper" name="copper" th:value="0"
										min="0" class="input-group-text"
										oninput="validateNumberInput(this)" />
									<button type="button" class="btn btn-outline-primary"
										onclick="updateAmount('copper', 1)">+</button>
								</div>
							</div>
							<div class="row">
								<label for="silver">Silver:</label>
								<div class="input-group mb-3">
									<button type="button" class="btn btn-outline-primary"
										onclick="updateAmount('silver', -1)">-</button>
									<input type="number" id="silver" name="silver" value="0"
										min="0" class="input-group-text"
										oninput="validateNumberInput(this)" />
									<button type="button" class="btn btn-outline-primary"
										onclick="updateAmount('silver', 1)">+</button>
								</div>
							</div>
							<div class="row">
								<label for="gold">Gold:</label>
								<div class="input-group mb-3">
									<button type="button" class="btn btn-outline-primary"
										onclick="updateAmount('gold', -1)">-</button>
									<input type="number" id="gold" name="gold" value="0" min="0"
										class="input-group-text" oninput="validateNumberInput(this)" />
									<button type="button" class="btn btn-outline-primary"
										onclick="updateAmount('gold', 1)">+</button>
								</div>
							</div>
							<div class="row">
								<label for="platinum">Platinum:</label>
								<div class="input-group mb-3">
									<button type="button" class="btn btn-outline-primary"
										onclick="updateAmount('platinum', -1)">-</button>
									<input type="number" id="platinum" name="platinum" value="0"
										min="0" class="input-group-text"
										oninput="validateNumberInput(this)" />
									<button type="button" class="btn btn-outline-primary"
										onclick="updateAmount('platinum', -1)">+</button>
								</div>
							</div>
						</div>
					</div>
					<!-- Modal footer with the Send button -->
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Send Coins</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>